@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@200;400&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   list-style: none;
   scroll-behavior:smooth;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #F7F5F1;
}
    /* main */
    header{
        width: 100%;
        background: #000000;
    }
    .container{
        height: 950px;
        width: 100%;
        margin: auto;
    }
    .circle {
        box-sizing: border-box;
        width: 500px;
        height: 250px;
        border-bottom-left-radius: 500px;
        border-bottom-right-radius: 500px;
        background-color: #10196e;
        position: absolute;
        left: 0px;
        top: 0px;
        filter: blur(200px);
    }
    .circle2 {
        box-sizing: border-box;
        width: 500px;
        height: 250px;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        background-color: #10196e;
        position: absolute;
        right: 0;
        bottom: 0;
        filter: blur(200px);
      }
    nav{
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
        width: 100%;   
        margin: 0 auto;
    }
    nav .nav-bar{
        position: relative;
        height: 100%;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .nav-bar .sidebarOpen{
        color: #fff;
        font-size: 40px;
        cursor: pointer;
        display: none;
    }
    .nav-bar .logo {
        margin-left: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-bar .logo img{
        margin: -20px 0;
    }
    .nav-bar .logo a{
        margin: 0 10px;
        font-size:40px;
        font-weight: 800;
        color: white;
    }
    .nav-bar .logo p{
        margin: -10px 0px;
        font-size: 14px;
        font-weight: 600;
        color: white;
    }
    .menu .logo-toggle{
        display: none;
    }
    .nav-bar .nav-links{
        display: flex;
        align-items: center;
    }
    .nav-bar .nav-links li{
        margin: 0 15px;
    }
    .nav-links li{
        position: relative;
        font-size: 18px;
        font-weight: 600;
    }
    .nav-links li a{
        color: white;
    }
    .nav-links li .btn-signout{
        font-size: 18px;
        font-weight: 600;
        width: 130px;
        height: 50px;
        background: #FFCC1D;
        border-radius: 10px;
        color: #000000;
        border: none;
        cursor: pointer;
    }
    .nav-links li a::before{
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        bottom: 0;
        transform: translateX(50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #ffffff;
        opacity: 0;
        transition: all 0.3s ease;
    }
    .nav-links li:hover a::before{
        opacity: 1;
    }
    .header-info{
        position: absolute;
        max-width: 1000px;
        width: 90%;
        margin-top: 500px;
        left:50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 0;
    }
    .header-info h1{
        font-size: 40px;
    }
    .header-info h3{
        font-size:20px;
    }

/* spectrum */
    header.page{
        width: 100%;
        height: 950px;
        background: #F7F5F1;
        position: relative;
    }
    .headerpage{
        max-width: 1000px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 600;
    }
    .namehead{
        font-size: 20px;
        font-weight: 800;
        max-width: 1000px;
        width: 90vw;
        margin-top: 40px;
    }
    .option{
        max-width: 1000px;
        width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        margin-top: 15px;
        margin-bottom: 25px;
    }
     .submit {
        position: relative;
        width: 90px;
        height: 30px;
        background: #FFCC1D;
        backdrop-filter: blur(127px);
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        font-weight: 600;
        font-size: 18px;
        font-size: clamp(10px,2vw,18px);
        color: #000000;
        z-index: 0;
        margin-left: 20px;
    }

    .gotop{
        position: fixed;
        width: 40px;
        height: 40px;
        border-radius: 40px / 40px;
        background-color: #10196e;
        bottom: 10px;
        right: 30px;
        padding-top: 5px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        cursor:pointer;
        z-index: 25;

    }
    .noinfo{
        text-align: center;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    .show{
        max-width: 1000px;
        height: 750px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;    
    }
    .rfi1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .rfi{
        width:40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;
        margin: 0 auto;
    }
    .rfi img{
        text-align: center;
        border: 2px solid rgb(0, 0, 0);
        width: 85%;
        margin : 2% 0;
        height: auto;
        object-fit: contain;
    }
    .value{
        text-align: center;
        width: 85%;
        height: 25px;
        font-weight: 600;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
    }
    .typerfi_r{
        width: 40%;
        height: 100%;
        background: #DB2323;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .typerfi_o{
        width: 40%;
        height: 100%;
        background: #DB7023;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .typerfi_y{
        width: 40%;
        height: 100%;
        background: #ECBB13;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .typerfi_g{
        width: 40%;
        height: 100%;
        background: #A0DB23;
        text-align: center;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .powervalue_r{
        width: 60%;
        height: 100%;
        background: #e64141;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .powervalue_o{
        width: 60%;
        height: 100%;
        background: #E9833A;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .powervalue_y{
        width: 60%;
        height: 100%;
        background: #FFCC1D;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .powervalue_g{
        width: 60%;
        height: 100%;
        background: #C6E93A;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

  /* REPORT */
    .submit2 {
        position: relative;
        width: 90px;
        height: 30px;
        background: #FFCC1D;
        backdrop-filter: blur(127px);
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        font-weight: 600;
        font-size: 18px;
        font-size: clamp(10px,2vw,18px);
        color: #000000;
        z-index: 0;
        margin-left: 20px;
    }
    .submitres {
        position: relative;
        width: 90px;
        height: 30px;
        background: #FFCC1D;
        backdrop-filter: blur(127px);
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px; 
        font-weight: 600;
        font-size: clamp(10px,2vw,18px);
        color: #000000;
        z-index: 0;
        margin-left: 20px;
        display: none;
    }
    .option2{
        max-width: 1000px;
        width: 80vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .info{
        max-width: 1000px;
        width: 90vw;
        height: 750px;
        margin: 1% auto;
    }
    .show2{
        max-width: 1000px;
        width: 90vw;
        margin: 0 auto;
        height: 700px;
        margin-bottom: 1%;
    }
    .btn-success{
        width: 80px;
        height: 35px;
        background: #10196e;
        border:0 none;
        cursor:pointer;
        border-radius: 5px; 
        font-weight: 800;
        font-size: 15px;
        color: #ffffff;
        margin-top: 10px;
    }
    table{
        width: 100%;
        margin: 0 auto;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
    }
    table, td, th {
        font-size: 16px;
        border-collapse: collapse;
        background: #fffdfdd8;
    }
    td {
        height: 60px;
        text-align: center;}
    th{
        height: 70px;
        color: white;
        font-size: 16px;
        background: #10196e;
    }

    /* aboutus */
    .aboutus{
        height: 390px;
        background: #10196e;
        position: relative;
    }
    #aboutus{
        max-width: 1000px;
        width: 100%;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        margin: auto;
        height: 390px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .box{
        margin: 15px 0px;
        width: 60%;
        height: 6px;
        background: #FFCC1D;
    }

  
@media (max-width:1000px){
    nav .nav-bar .sidebarOpen{
        display: block;
        padding-right: 2%;
        font-size: clamp(30px,2.5vw,40px);
    }
    nav .nav-bar{
        max-width: 100%;
        align-items: center;
        justify-content: space-between;
     }
    .menu{
        position: fixed;
        height: 100%;
        width: 40%;
        right: -100%;
        top: 0;
        background-color: #F7F5F1;
        padding: 20px;
        z-index: 6;
        border-radius: 15px; 
    }
    .nav-bar .logo{
        padding: 5px;
    }
    .nav-bar .logo p{
        color: #fff;
    }
    nav.active .menu{
        right:-0%
    }
    .menu .logo-toggle{
        display: block;
        width: 100%;
    }
    .nav-bar .logo img{
        padding-left: 2%;
    }
    .logo-toggle .siderbarClose{
        color: black;
        font-size: clamp(20px,1vw,30px);
        cursor: pointer;
    }
    .nav-bar .nav-links{
        flex-direction: column;
    }
     .nav-links li a{
        color: rgb(0, 0, 0);
        display: block;
        margin-bottom: 20px;
     }
    
     .nav-links li a::before{
        display: none;
     }
     .nav-bar .logo a{
       font-size: clamp(30px,2.5vw,40px);
    }
    
    .nav-bar .logo p{
       font-size: clamp(12px,2.5vw,14px);
    }

    .nav-links li{
        font-size: clamp(13px,2.5vw,18px);
    }
    .nav-links li .btn-signout{
        font-size: clamp(12px,2.5vw,18px);
        width: 120px;
        height: 40px;
    }
    .header-info h1{
        font-size: clamp(30px,5vw,40px)
    }
    .header-info h3{
        font-size: clamp(15px,2.5vw,20px)
    }

    /* spectrum */
    .headerpage{
        font-size: clamp(12px,2vw,16px);
    }
    .datetime input{
        font-size: clamp(12px,2vw,16px);
    }
    .namehead{
        font-size: clamp(15px,3vw,20px)
    }
    .rfi img{
        width: 340px;
    }
    .value{
        width: 340px;
        font-weight: 600;
      }
      .noinfo{
        font-size: clamp(12px,2vw,16px);
    }
    
    /* report */
    .option2{
        flex-direction: column;
    }
    .startdate2 input{
        margin: 10px 0;
        font-size: clamp(12px,2vw,16px);
    }
    .enddate2 input{
        font-size: clamp(12px,2vw,16px);
    }
    .show2{
        height: 650px;
    }
    .btn-success{
        font-size: clamp(12px,2vw,15px);
    }
    table, td, th {
        font-size: clamp(10px,2vw,16px);
    }
    th{
        height: 70px;
        color: white;
        font-size: clamp(10px,2vw,16px);
        background: #10196e;
    }
    
    /* aboutus */
    #aboutus{
    font-size: clamp(12px,2vw,18px);
    }

}

@media (max-width:800px){
    .circle {
        width: 400px;
        height: 200px;
        border-bottom-left-radius: 400px;
        border-bottom-right-radius: 400px;
        filter: blur(150px);

    }
    .circle2{
        width: 400px;
        height: 200px;
        border-top-left-radius: 400px;
        border-top-right-radius: 400px;
        filter: blur(150px);  
    }
    
    /* spectrum */
    .option{
        flex-direction: column;
    }
    .datetime input{
        margin-top: 10px;
    }
    .show{
        height: auto;
    }
    .rfi1{
        height: 350px;
    }
    .rfi{
        margin-bottom: 10px;
    }
    .rfi img{
        max-width: 340px;
        width: 100%;
    }
    .value{
        display: flex;
        max-width: 340px;
        height: 25px;
        width: 100%;
    }
    .typerfi_r{
        font-size: clamp(12px,1vw,16px);
    }
    .typerfi_o{
        font-size: clamp(12px,1vw,16px);
    }
    .typerfi_y{
        font-size: clamp(12px,1vw,16px);
    }
    .typerfi_g{
        font-size: clamp(12px,1vw,16px);
    }
    .powervalue_r{
        font-size: clamp(8px,1vw,14px);
    }
    .powervalue_o{
        font-size: clamp(8px,1vw,14px);
    }
    .powervalue_y{
        font-size: clamp(8px,1vw,14px);
    }
    .powervalue_g{
        font-size: clamp(8px,1vw,14px);
    }
    
    /* aboutus */
    .uni{
        margin:0 5%;
    }
    .member{
        margin-right: 5%;
    }
   
}

@media (max-width:500px){
    .circle {
        width: 280px;
        height: 140px;
        border-bottom-left-radius: 280px;
        border-bottom-right-radius: 280px;
        filter: blur(100px);
    }
    .circle2{
        width: 280px;
        height: 140px;
        border-top-left-radius: 280px;
        border-top-right-radius: 280px;
        filter: blur(100px);
    }
    .rfi1{
        width: 100%;
        height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: none;
    }
    .rfi{
        margin-bottom: 10px;
    }
    .rfi img{
        width: 180px;
        margin : 4% 0;
    }
    .value{
        width: 200px;
        font-weight: 600;
    }
    #aboutus{
        flex-direction: column;
        }
}

@media (max-width:390px){
    .menu{
        width: 50%;
    }
    .submit2{
        display: none;
    }
    .enddate2{
        margin-bottom: 10px;
    }
    .submitres{
        display: block;
        margin-left: 0px;
    }
}

@media (max-width:350px){
    .submit{
        margin-left: -2%;
    }
}

